[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = https://github.com/jwhitley/vim-colors-solarized.git
[submodule "bundle/vim-qml"]
	path = bundle/vim-qml
	url = https://github.com/peterhoeg/vim-qml.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "bundle/vim-jade"]
	path = bundle/vim-jade
  url = https://github.com/digitaltoad/vim-jade.git
[submodule "bundle/verilog_systemverilog.vim"]
  path = bundle/verilog_systemverilog.vim
  url = https://github.com/vhda/verilog_systemverilog.vim.git
[submodule "bundle/vim-jsx"]
	path = bundle/vim-jsx
	url = https://github.com/mxw/vim-jsx.git
[submodule "bundle/psc-ide-vim"]
	path = bundle/psc-ide-vim
	url = https://github.com/raichoo/purescript-vim.git
[submodule "bundle/vim-javascript"]
	path = bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "bundle/vim-airline-themes"]
	path = bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "bundle/vim-commentary"]
	path = bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/Align"]
	path = bundle/Align
	url = https://github.com/vim-scripts/Align.git
[submodule "bundle/haskell-vim"]
	path = bundle/haskell-vim
	url = https://github.com/neovimhaskell/haskell-vim.git
[submodule "bundle/vimproc.vim"]
	path = bundle/vimproc.vim
	url = https://github.com/Shougo/vimproc.vim.git
[submodule "bundle/ghcmod-vim"]
	path = bundle/ghcmod-vim
	url = https://github.com/eagletmt/ghcmod-vim.git
[submodule "bundle/happy.vim"]
	path = bundle/happy.vim
	url = https://github.com/vim-scripts/happy.vim.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "bundle/vim-scala"]
	path = bundle/vim-scala
	url = https://github.com/derekwyatt/vim-scala.git
[submodule "bundle/vim-ledger"]
	path = bundle/vim-ledger
	url = https://github.com/ledger/vim-ledger.git
[submodule "bundle/neco-ghc"]
	path = bundle/neco-ghc
	url = https://github.com/eagletmt/neco-ghc.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "bundle/neomake"]
	path = bundle/neomake
	url = https://github.com/neomake/neomake.git
[submodule "bundle/hlint-refactor-vim"]
	path = bundle/hlint-refactor-vim
	url = https://github.com/mpickering/hlint-refactor-vim.git
[submodule "bundle/vim-hoogle"]
	path = bundle/vim-hoogle
	url = https://github.com/Twinside/vim-hoogle.git
[submodule "bundle/lucario"]
	path = bundle/lucario
	url = https://github.com/raphamorim/lucario.git
[submodule "bundle/Zenburn"]
	path = bundle/Zenburn
	url = https://github.com/jnurmine/Zenburn.git
[submodule "bundle/tslime.vim"]
	path = bundle/tslime.vim
	url = https://github.com/jgdavey/tslime.vim.git
[submodule "bundle/typescript-vim"]
	path = bundle/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "bundle/tsuquyomi"]
	path = bundle/tsuquyomi
	url = https://github.com/Quramy/tsuquyomi.git
[submodule "bundle/purescript-vim"]
	path = bundle/purescript-vim
	url = https://github.com/raichoo/purescript-vim
[submodule "bundle/vim-devicons"]
	path = bundle/vim-devicons
	url = https://github.com/ryanoasis/vim-devicons
[submodule "bundle/ensime-vim"]
	path = bundle/ensime-vim
	url = https://github.com/ensime/ensime-vim.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-csharp"]
	path = bundle/vim-csharp
	url = https://github.com/OrangeT/vim-csharp.git
[submodule "bundle/vim-flow"]
	path = bundle/vim-flow
	url = https://github.com/flowtype/vim-flow.git
[submodule "bundle/vim-cmake"]
	path = bundle/vim-cmake
	url = https://github.com/vhdirk/vim-cmake.git
[submodule "bundle/ack.vim"]
	path = bundle/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule "bundle/gruvbox"]
	path = bundle/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "bundle/indentLine"]
	path = bundle/indentLine
	url = https://github.com/Yggdroot/indentLine.git
[submodule "bundle/rainbow_parentheses.vim"]
	path = bundle/rainbow_parentheses.vim
	url = https://github.com/kien/rainbow_parentheses.vim.git
[submodule "bundle/firrtl-syntax"]
	path = bundle/firrtl-syntax
	url = https://github.com/azidar/firrtl-syntax.git
